<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="about-content">
            <p>This site was created by Akash Chhetri. It uses data from mapbox.com and weatherstack.com</p>
            <img class="portrait" src="https://avatars0.githubusercontent.com/u/18610657?s=460&u=b7a91fd14fbe89344388cfb38cb88418cab42850" />
        </div>

    </div>
    
    {{>footer}}
</body>

</html>