<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="help-content">
            <p>Goto my portfolio <a href="https://akash7.netlify.app/">Akash Profile</a></p>
        </div>
        
    </div>
    
    {{>footer}}
</body>

</html>